$primaryColor: #053742;
$primaryHover: #03232b;
$secondaryColor:#39a2db;
$tertiaryColor:#a2dbfa;
$quaternaryColor:#e8f0f2;



.header{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: rgba($color: $primaryColor, $alpha: 1.0);
    

    .logo-container{
        height: 100%;
        width: 70px;
        padding: 25px;

    }

    .leftNavItems{
        width: fit-content;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        
    }

    .rightNavItems{
        width: fit-content;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .tool-divider{
            width: 0px;
            border-left: 1px solid rgba($color: $tertiaryColor, $alpha: 0.5);
            margin: 13px 10px 14px;
            height: 30px !important;
        }
    }
    
    .navItem {
        font-size: small;
        padding: 15px 10px;
        cursor: pointer;
        color: rgba($color: $tertiaryColor, $alpha: 1.0);
        text-decoration: none;
        &:hover{
            background-color: rgba($color: $primaryHover, $alpha: 0.6);

        }
    }

    .visible{
        visibility: visible;
    }
    .hidden{
        visibility: hidden;

    }

    ul{
        list-style-type: none;
    }

    

    
}